<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h5>Add Employee</h5>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label> Name Of The Employee</label>
                                    <input type="text" [(ngModel)]="employee.name" name="empName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label> Age Of The Employee</label>
                                    <input type="age" [(ngModel)]="employee.age" name="age" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-light" value="Add Emploee"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>